.det_form2,
.imagens_for,
.text_for,
main {
    display: flex
}

.cabecalho_form p,
.creator,
.info_toggle p,
.infoheader,
.text_for span p,
.to {
    text-align: center
}

main {
    position: relative;
    width: 100vw;
    height: auto;
    background-color: navy;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 90px
}

.deta_f_c {
    width: 100vw;
    object-fit: cover;
    height: 500px;
    position: absolute;
    top: -200px;
    z-index: -1
}

.imagens_for {
    width: 90%;
    justify-content: space-around
}

.imagens_for img {
    width: 100px;
    height: 100px
}

.text_for {
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
    top: 210px
}

#faq,
.det_form2 {
    position: relative
}

.text_for span {
    width: 300px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center
}

.text_for span p {
    overflow-wrap: break-word;
    width: 90%
}

.det_form2 {
    width: 90%;
    justify-content: space-around
}

.cabecalho_form,
.formulario {
    min-width: 300px;
    width: 40%;
    display: flex;
    align-items: center;
    transition: filter 1s
}

.faq,
.he,
.he::before {
    position: absolute
}

.det_form2 span:not(:last-child) {
    width: 40px;
    height: 300px;
    background-color: #fff
}

.det_form2 span:last-child {
    width: 70%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    bottom: 0
}

.cabecalho_form {
    height: 150px;
    background-color: #e1c506;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    justify-content: center
}

.cabecalho_form p {
    width: 80%;
    color: navy;
    font-weight: 700
}

.formulario {
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-bottom: 30px
}

#faq,
.toggle {
    display: flex;
    align-items: center
}

.formulario input {
    width: 80%;
    height: 40px;
    background-color: #a2a2ff;
    border: none
}

.faq,
.to {
    border-radius: 30px
}

.formulario label {
    margin-top: 20px;
    text-decoration: underline;
    margin-bottom: 4px;
    color: navy;
    left: 0
}



.envio {
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 60%;
    border-radius: 30px;
    background-color: #e1c506;
    font-weight: 700;
    font-size: 20px
}

.faq,
.to {
    background-color: #fff
}

#faq {
    justify-content: center
}

.toggle {
    width: 100vw;
    justify-content: center;
    flex-direction: column
}

.faq,
.info_to {
    display: flex;
    align-items: center
}

.faq {
    font-size: 25px;
    color: navy;
    width: 300px;
    height: 60px;
    top: -30px;
    justify-content: center
}

.info_to {
    width: 75%;
    justify-content: center;
    flex-direction: column;
    transition: filter 1s
}

.info_toggle,
.to {
    width: 100%;
    display: flex;
    align-items: center
}

.to {
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
    height: auto;
    box-shadow: 0 -5px 0 navy inset;
    cursor: pointer
}

.to h1 {
    font-size: 18px;
    font-weight: lighter;
    color: #000
}

.t_a {
    margin-top: 60px
}

.info_toggle {
    max-height: 0;
    overflow: hidden;
    background-color: navy;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: max-height .4s, padding .4s;
    justify-content: center
}

#fim,
.infoheader {
    height: 20vw;
    align-items: center;
    display: flex
}

.info_toggle_ani {
    max-height: 300px;
    padding-top: 20px;
    padding-bottom: 20px
}

.info_toggle p {
    color: #fff;
    width: 90%;
    font-size: 16px
}

#fim,
.creator,
.he,
.he img,
.he::before,
.infoheader {
    width: 100vw
}

#fim {
    margin-top: 50px;
    justify-content: space-between;
    flex-direction: column;
    background-color: #000080;
    padding-bottom: 1vw
}

.he {
    height: 20vw
}

.he img {
    height: 20vw;
    object-fit: cover
}

.he::before {
    content: "";
    height: 20vw;
    background-color: #e1c40698
}

.h1__{
    max-width: 80%;
    margin-top: 1vw;
}

.infoheader {
    justify-content: space-between;
    flex-direction: column;
    position: relative
}

.infoheader h1 {
    font-size: 1.3vw;
    text-decoration: underline;
    color: #fff;
    font-weight: lighter
}

.infoheader img {
    width: 8vw
}

.infoheader button {
    width: 11vw;
    height: 3.65vw;
    border-radius: 2vw;
    border: none;
    box-shadow: .5vw .5vw #fff;
    background-color: navy;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 1s
}

.infoheader button:hover {
    background-color: #fff;
    box-shadow: none
}

.infoheader button:hover a {
    color: navy
}

.infoheader a:first-child {
    color: #fff;
    text-decoration: none;
    font-size: 1.1vw
}

.politica {
    margin-top: 1vw;
    color: #fff;
    font-size: .8vw
}

.creator {
    height: 2vw;
    background-color: #6d6d6d;
    z-index: 1
}

.creator a {
    font-size: 13px;
    color: #fff
}

@media screen and (max-width:1024px) {

    #lp_m,
    #menu_m,
    .intro {
        position: fixed
    }

    #container {
        padding: 0
    }

    .pre2 {
        padding: 50px;
        border-radius: 2vw
    }

    #pre h1 {
        color: #fff;
        transform: rotate3d(10deg);
        font-size: 30px;
        line-height: 30px
    }

    #menu {
        display: none
    }

    #lp_m {
        width: 100vw;
        height: 30.6px;
        display: flex;
        justify-content: center;
        z-index: 10
    }

    #logo_m {
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        margin-top: -70px
    }

    .all
     {
        background-color: #fff;
        align-items: center
    }

    #Home {
        height: 80px;
        position: relative
    }

    #logo_m span:first-child {
        opacity: 0;
        width: 120px;
        height: 120px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        margin-top: 18.36px;
        border: 3.06px solid #e1c506
    }

    #logo_m img {
        border-radius: 50%;
        border: 3px solid #000080;
        margin-top: 70px;
        height: 90px;
        z-index: 2;
    }

    #menu_m,
    .all {
        width: 70px;
        height: 30px
    }

    #menu_m {
        z-index: 20;
        margin-top: 5.1px;
        display: block;
        top: 0
    }

    #up_m,
    .all,
    .menu_tam_m {
        display: flex
    }

    .all {
        border: 2px solid navy;
        border-left: 0;
        justify-content: center;
        transition: background-color 1s;
        flex-direction: column;
        border-radius: 0 10px 10px 0
    }

    .all span:not(:first-child) {
        margin-top: 5px
    }

    .all span {
        width: 40px;
        height: 3px;
        border-radius: 2px;
        background-color: #000
    }

    .all span:first-child {
        position: absolute;
        top: 7px;
        transition: transform 1s
    }

    .all span:nth-child(2) {
        position: absolute;
        top: 10.5px;
        background-color: #e1c506
    }

    .all span:nth-child(3) {
        position: absolute;
        top: 19px;
        transition: transform 1s
    }

    #up_m {
        width: 80vw;
        height: 100vh;
        position: absolute;
        top: -5px;
        align-items: center;
        z-index: -1;
        left: -80vw
    }

    .menu_tam_m {
        align-items: start;
        justify-content: center;
        flex-direction: column;
        list-style: none;
        width: 100%;
        height: 80vh;
        border-radius: 0 10px 10px 0;
        background-color: navy
    }

    .menu_tam_m li {
        line-height: 30px;
        font-size: 22px;
        width: 0;
        overflow: hidden;
        height: 30px;
        margin-left: 20px;
        margin-top: 3vh;
        margin-bottom: 3vh;
        background-color: #fff;
        border-radius: 10px;
        padding-bottom: 5px;
        transition: width .5s
    }

    .menu_tam_m li:nth-child(2) {
        transition-delay: 0.2s
    }

    .menu_tam_m li:nth-child(3) {
        transition-delay: 0.4s
    }

    .menu_tam_m li:nth-child(4) {
        transition-delay: 0.6s
    }

    .menu_tam_m li:nth-child(5) {
        transition-delay: 0.8s
    }

    .menu_tam_m li:nth-child(6) {
        transition-delay: 1s
    }

    .menu_tam_m li a {
        margin-left: 10px;
        color: navy;
        text-decoration: none
    }

    #fim {
        width: 100vw;
        height: 300px;
        background-color: inherit;
        padding-bottom: 0
    }

    .infoheader {
        height: 260px
    }
    .he::before,
    .he,
    .he img{
        height: 275px
    }

    .infoheader h1 {
        font-size: 15px;
        line-height: 23px
    }

    .infoheader img {
        width: 100px
    }

    .infoheader button {
        width: 200px;
        height: 40px;
        border-radius: 30px;
        border: none;
        box-shadow: 5px 5px#fff
    }

    .infoheader a:first-child {
        font-size: 13px;
        line-height: 20px
    }

    .politica {
        font-size: 12px;
        margin: 0
    }
    

    .creator {
        width: 100vw;
        height: auto;
        background-color: #6d6d6d;
        text-align: center;
        z-index: 1;
        bottom: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 20px;
    }

    .creator a {
        font-size: 12px;
        color: #fff
    }
}

@media screen and (max-width:1000px) {

    .text_for span:first-child,
    .text_for span:nth-child(3) {
        order: -1
    }
}

@media screen and (max-width:667px) {
    .imagens_for {
        display: flex;
        justify-content: space-around;
        gap: 10px
    }

    .imagens_for img {
        width: 50px;
        height: 50px
    }

    .text_for {
        top: 80px;
        gap: 10px
    }

    .det_form2 span {
        visibility: hidden
    }

    .det_form2 span:first-child {
        width: 70%;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 0
    }
}