
RewriteEngine On

RewriteCond %{HTTP_HOST} ^connectionusa\.magnossites\.net [NC]
RewriteCond %{REQUEST_URI} !^/controllers/controller_token_get\.php$
RewriteRule ^$ /views/home/ [L]

RewriteCond %{HTTP_HOST} ^accessadmin\.connectionusa\.magnossites\.net [NC]
RewriteCond %{REQUEST_URI} !^/controllers/
RewriteRule ^$ /views/admin/ [L]

RewriteCond %{HTTP_HOST} ^contato\.connectionusa\.magnossites\.net [NC]
RewriteRule ^$ /views/contato/ [L]

RewriteCond %{HTTP_HOST} ^estudenoseua\.connectionusa\.magnossites\.net [NC]
RewriteCond %{REQUEST_URI} !^/controllers/
RewriteRule ^$ /views/estudos/ [L]

RewriteCond %{HTTP_HOST} ^politica\.connectionusa\.magnossites\.net [NC]
RewriteRule ^$ /views/politica/ [L]

<FilesMatch "\.(html|htm|xml|php)$">
    Header set Cache-Control "no-cache, must-revalidate"
</FilesMatch>

<FilesMatch "\.(css|js|ico|gif|jpg|jpeg|png|webp|svg|webm|mp4)$">
    Header set Cache-Control "max-age=604800, public"
</FilesMatch>

ErrorDocument 404 /views/home/

ErrorDocument 403 /views/home/

ErrorDocument 500 /views/home/
