{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Página não encontrada{% endblock %}

{% block body %}
<h1>Oops! Página não encontrada (404)</h1>
<p>A página que você está procurando não existe.</p>
{% endblock %}
