{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<h1>Infelizmente houve um erro em nossos serviços. Nossa equipe já está trabalhando o mais rápido possível para resolver isso então pedimos
    que acesse o site novamente mais tarde.</h1>
    
    
		{% endblock %}
